.visibility-onsvg-icon2 {
  height: 23px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.visibility-onsvg-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.at-the-same,
.can-i-use1 {
  display: block;
}
.can-i-use-container1 {
  width: 100%;
}
.can-i-use-container {
  margin: 0;
  width: 401.5px;
  height: 56px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.backgroundborder10 {
  width: 453px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 19px 19px 19px 21px;
  box-sizing: border-box;
  gap: 139px;
  background-image: url(/public/backgroundborder2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: 22px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 450px) {
  .can-i-use-container {
    font-size: 18px;
    line-height: 22px;
  }
  .backgroundborder10 {
    gap: 69px;
  }
}
