.support-24-hours-esimsvg-icon {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading-313 {
  margin: 0;
  width: 305.8px;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.our-support-team,
.service-is-as,
.we-believe-that,
.your-trip-without {
  display: block;
}
.we-believe-that-container {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
}
.border32 {
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 31px 20px 31px 33px;
  gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: 22px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 450px) {
  .heading-313 {
    font-size: 18px;
    line-height: 22px;
  }
}
