.link-ubigi-esim-review-768x3 {
  align-self: stretch;
  height: 224px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ubigi-esim-review1,
.well1 {
  margin: 0;
}
.ubigi-esim-review-container1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 26.4px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.by-julio-osuna4 {
  position: relative;
  line-height: 19.2px;
  display: inline-block;
  min-width: 80.9px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.company-offers-with1,
.read-our-ubigi1,
.service-refund-policies1 {
  display: block;
}
.read-our-ubigi-container2 {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 19.2px;
  color: #292b2e;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.by-julio-osuna-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 11px;
  gap: 11.9px;
  font-size: 12px;
  color: #000;
}
.link-read20 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: 16px;
  line-height: 18.4px;
  font-weight: 500;
  font-family: Roboto;
  color: #643560;
  text-align: center;
  display: inline-block;
  min-width: 78.6px;
}
.button33 {
  cursor: pointer;
  border: 1px solid #643560;
  padding: 5px 14px 5px 16px;
  background-color: #fff;
  width: 110.4px;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.button33:hover {
  background-color: #e6e6e6;
  border: 1px solid #8a5c87;
  box-sizing: border-box;
}
.ubigi-esim-review-does-it-wor-parent {
  flex-direction: column;
  gap: 9.6px;
}
.frame-wrapper34,
.link-ubigi-esim-review-768x3-parent,
.ubigi-esim-review-does-it-wor-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper34 {
  flex-direction: row;
  padding: 0 13px;
  box-sizing: border-box;
}
.link-ubigi-esim-review-768x3-parent {
  width: 408.5px;
  flex-direction: column;
  gap: 9.8px;
  text-align: left;
  font-size: 22px;
  color: #292b2e;
  font-family: Roboto;
}
@media screen and (max-width: 450px) {
  .ubigi-esim-review-container1 {
    font-size: 18px;
    line-height: 21px;
  }
}
