.image-8-layerstyle-icon5 {
  height: 41.6px;
  width: 41.1px;
  position: relative;
}
.pulselink-icon5 {
  align-self: stretch;
  height: 29px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.pulselink-wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.3px 0 0;
}
.holafly-logosvg5,
.image-8-layerstyle-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-8-layerstyle-parent3 {
  width: 201.6px;
  gap: 15px;
}
.holafly-logosvg5 {
  width: 220px;
  overflow: hidden;
  padding: 5.4px 7px 0;
  box-sizing: border-box;
}
.link-facebooksvg2 {
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.social-links1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.link-instagramsvg2,
.link-youtubesvg2 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.link-instagramsvg2 {
  height: 20px;
  width: 20px;
  min-height: 20px;
}
.link-youtubesvg2 {
  width: 16px;
  height: 14px;
}
.link-youtubesvg-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.link-linkedinsvg2 {
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.social-links2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.link-twittersvg2 {
  width: 22px;
  height: 17px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.link-twittersvg-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.social-icons-wrapper,
.social-icons2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.social-icons2 {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.social-icons-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 8px;
}
.container-inner,
.holafly-logosvg-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.holafly-logosvg-parent {
  align-self: stretch;
  gap: 183.2px;
  debug_commit: bf4bc93;
}
.container-inner {
  margin-left: -728px;
  width: 262px;
  padding: 3.7px 0 0;
  box-sizing: border-box;
}
.top-destinations2 {
  margin-top: -46.599999999998545px;
  position: relative;
  line-height: 18.4px;
  font-weight: 500;
  display: inline-block;
  min-width: 120.5px;
}
.item-link54 {
  min-width: 45px;
}
.item-link54,
.item-link55,
.item-link56 {
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.item-link55 {
  color: inherit;
  text-decoration: none;
  min-width: 27px;
}
.item-link56 {
  font-size: 13.6px;
  min-width: 38px;
}
.item-link57 {
  min-width: 42.3px;
}
.item-link57,
.item-link58,
.item-link59 {
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.item-link58 {
  font-size: 13.9px;
  min-width: 35px;
}
.item-link59 {
  min-width: 43px;
}
.list6,
.nav6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list6 {
  align-self: stretch;
  gap: 16px;
  font-size: 14px;
}
.nav6 {
  height: 262.4px;
  flex: 1;
  padding: 46.4px 0 16px;
  box-sizing: border-box;
  gap: 28.2px;
  min-width: 155px;
}
.legal2 {
  margin-top: -46.599999999998545px;
  position: relative;
  line-height: 19px;
  font-weight: 500;
  display: inline-block;
  min-width: 39px;
}
.item-link60,
.item-link61,
.item-link62 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  color: inherit;
}
.item-link61,
.item-link62 {
  display: inline-block;
  min-width: 87.8px;
}
.item-link62 {
  min-width: 93.8px;
}
.item-link63 {
  display: inline-block;
  min-width: 86.2px;
}
.item-link63,
.item-link64 {
  position: relative;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}
.list7,
.nav7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list7 {
  align-self: stretch;
  gap: 16px;
  font-size: 14px;
}
.nav7 {
  height: 262.4px;
  flex: 1;
  padding: 46.4px 0 52px;
  box-sizing: border-box;
  gap: 27.6px;
  min-width: 155px;
  font-size: 15.9px;
}
.interest2 {
  margin-top: -46.599999999998545px;
  position: relative;
  line-height: 18.4px;
  font-weight: 500;
  display: inline-block;
  min-width: 56.1px;
}
.item-link65 {
  display: inline-block;
  min-width: 101.1px;
}
.item-link65,
.item-link66,
.item-link67,
.item-link68,
.item-link69 {
  position: relative;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}
.item-link68,
.item-link69 {
  display: inline-block;
  min-width: 33.8px;
}
.item-link69 {
  min-width: 28.3px;
}
.list8 {
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
}
.container-wrapper9,
.container62,
.footer-navigation1,
.list8,
.nav8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav8 {
  height: 262.4px;
  flex-direction: column;
  padding: 46.4px 0 52px;
  box-sizing: border-box;
  gap: 28.2px;
}
.container-wrapper9,
.container62,
.footer-navigation1 {
  flex-direction: row;
  max-width: 100%;
}
.footer-navigation1 {
  width: 720px;
  gap: 3.6px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.container-wrapper9,
.container62 {
  box-sizing: border-box;
}
.container62 {
  width: 1440px;
  padding: 0 0 10px 720px;
  gap: 466px;
}
.container-wrapper9 {
  padding: 0 48px;
}
.made-with2 {
  position: relative;
  line-height: 16.1px;
  display: inline-block;
  min-width: 69.7px;
}
.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.9px 0 0;
}
.lovesvg-icon2 {
  height: 14px;
  width: 15px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.by-people-who2 {
  align-self: stretch;
  position: relative;
  line-height: 16.1px;
}
.copyright1 {
  width: 195.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.9px 9px 0 0;
  box-sizing: border-box;
}
.pulselinkplus-20242 {
  width: 89.6px;
  position: relative;
  font-size: 13.5px;
  line-height: 16.1px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.horizontalborder8 {
  width: 1536px;
  border-top: 1px solid #dde1e8;
  flex-direction: row;
  align-items: flex-start;
  padding: 23px 5px 0.1px;
  row-gap: 20px;
  font-size: 14px;
  color: #000;
}
.background60,
.footer2,
.horizontalborder8 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.footer2 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 12px;
  gap: 56px;
}
.background60 {
  align-self: stretch;
  background-color: #f8f8fb;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.3px 0 40.2px;
}
.a28413d6761d624ff11223c3c1cfd0-icon3 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
  overflow: hidden;
  object-fit: contain;
}
.button-open-intercom-messeng3 {
  width: 48px;
  height: 48px;
  position: absolute;
  margin: 0 !important;
  right: 35px;
  bottom: 86.3px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  background-color: #4b48e6;
  z-index: 1;
}
.background-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.image-icon16 {
  height: 1px;
  width: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-parent19,
.image-wrapper2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.image-wrapper2 {
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
}
.frame-parent19 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 13px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #292b2e;
  font-family: Roboto;
}
@media screen and (max-width: 1825px) {
  .container62 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .container62 {
    gap: 233px;
    padding-left: 360px;
    box-sizing: border-box;
  }
  .container-wrapper9 {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .footer-navigation1 {
    flex-wrap: wrap;
  }
  .container62 {
    gap: 116px;
    padding-left: 180px;
    box-sizing: border-box;
  }
  .footer2 {
    gap: 28px;
  }
}
@media screen and (max-width: 450px) {
  .holafly-logosvg-parent {
    gap: 92px;
  }
  .container62 {
    gap: 58px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .horizontalborder8 {
    flex-wrap: wrap;
  }
  .background60,
  .footer2 {
    padding-top: 26px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .background60 {
    padding-top: 20px;
    padding-bottom: 26px;
  }
}
