.heading-29 {
  margin: 0;
  position: relative;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  font-family: inherit;
}
.be-part-of,
.the-world-to {
  display: block;
}
.be-part-of-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.check-out-our,
.right-arrowsvg-icon1 {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.check-out-our {
  text-decoration: underline;
  line-height: 22px;
  font-weight: 500;
}
.right-arrowsvg-icon1 {
  width: 17px;
  height: 12px;
  overflow: hidden;
}
.right-arrowsvg-wrapper {
  flex-direction: column;
  padding: 4px 0 0;
}
.join-content,
.join-content-container,
.right-arrowsvg-wrapper,
.vacancies-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vacancies-container {
  flex-direction: row;
  gap: 9.8px;
}
.join-content,
.join-content-container {
  flex-direction: column;
}
.join-content {
  align-self: stretch;
  gap: 16px;
}
.join-content-container {
  width: 499.7px;
  padding: 60px 0 0;
  box-sizing: border-box;
  min-width: 499.7000000000007px;
  max-width: 100%;
}
.join-mission-desktop-finalweb-icon {
  height: 252px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 356px;
}
.section-container,
.section6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.section6 {
  width: 1152px;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 0 0 0 60px;
  gap: 43.3px;
}
.section-container {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
  text-align: left;
  font-size: 16px;
  color: #292b2e;
  font-family: Roboto;
}
@media screen and (max-width: 1350px) {
  .join-content-container {
    flex: 1;
  }
  .section6 {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .join-content-container,
  .join-mission-desktop-finalweb-icon {
    min-width: 100%;
  }
  .section6 {
    gap: 22px;
  }
}
@media screen and (max-width: 450px) {
  .heading-29 {
    font-size: 22px;
    line-height: 27px;
  }
}
