.heading-27,
.pdp-newyork-260x223-1jpg-icon1 {
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
}
.heading-27 {
  margin: 0;
  width: 370.5px;
  font-size: inherit;
  line-height: 27.6px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.pdp-newyork-260x223-1jpg-icon1 {
  align-self: stretch;
  height: 370.5px;
  overflow: hidden;
  object-fit: cover;
}
.heading-314 {
  margin: 0;
  font-size: inherit;
  line-height: 28.8px;
  font-weight: 500;
  font-family: inherit;
  min-width: 103.8px;
}
.eur8,
.from8,
.heading-314,
.s4 {
  position: relative;
  display: inline-block;
}
.from8 {
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  min-width: 32.4px;
}
.eur8,
.s4 {
  line-height: 28px;
  font-weight: 500;
  min-width: 107.8px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.s4 {
  font-size: 15px;
  text-decoration: line-through;
  line-height: 18px;
  font-weight: 300;
  color: #c0c3c5;
  min-width: 48.2px;
  white-space: nowrap;
}
.eur-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.destination-wavesvg-icon4 {
  align-self: stretch;
  height: 45px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.destination-wavesvg-wrapper2,
.frame-parent79 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.destination-wavesvg-wrapper2 {
  flex: 1;
  flex-direction: column;
  padding: 19px 0 0;
  box-sizing: border-box;
  min-width: 147px;
}
.frame-parent79 {
  align-self: stretch;
  flex-direction: row;
  gap: 32px;
  font-size: 21.8px;
  color: #000;
}
.from-group,
.heading-3-new-york-parent,
.link21 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.from-group {
  align-self: stretch;
  align-items: flex-start;
  gap: 1px;
  font-size: 15px;
  color: #5f5f5f;
}
.heading-3-new-york-parent,
.link21 {
  max-width: 100%;
}
.heading-3-new-york-parent {
  width: 414px;
  align-items: flex-start;
  gap: 44.6px;
}
.link21 {
  box-shadow: 0 14px 54px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-end;
  gap: 4.1px;
}
.pdp-miami-260x223-1jpg-icon2 {
  height: 370.5px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.pdp-miami-260x223-1jpg-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3.1px;
  box-sizing: border-box;
  max-width: 100%;
}
.heading-315 {
  position: relative;
  line-height: 29px;
  font-weight: 500;
  display: inline-block;
  min-width: 66px;
}
.heading-3-miami-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 18px 43.4px;
}
.from9 {
  position: relative;
  line-height: 18px;
  display: inline-block;
  min-width: 32.4px;
}
.from-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 18px;
  font-size: 15px;
  color: #5f5f5f;
}
.eur9,
.s5 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  min-width: 107.8px;
}
.s5 {
  font-size: 15px;
  text-decoration: line-through;
  line-height: 18px;
  font-weight: 300;
  color: #c0c3c5;
  min-width: 45.3px;
  white-space: nowrap;
}
.eur-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.destination-wavesvg-icon5 {
  align-self: stretch;
  height: 45px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.destination-wavesvg-wrapper3,
.frame-parent80,
.link-inner3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.destination-wavesvg-wrapper3 {
  flex: 1;
  flex-direction: column;
  padding: 19px 0 0;
  box-sizing: border-box;
  min-width: 147px;
}
.frame-parent80,
.link-inner3 {
  flex-direction: row;
  max-width: 100%;
}
.frame-parent80 {
  flex: 1;
  gap: 34.9px;
}
.link-inner3 {
  align-self: stretch;
  padding: 0 0 0 18px;
  box-sizing: border-box;
  font-size: 21.8px;
}
.reflejadapng-icon2 {
  width: 480px;
  height: 844.4px;
  position: absolute;
  margin: 0 !important;
  right: -465px;
  bottom: -239.8px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.frame-wrapper39,
.link-parent1,
.link22 {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.link22 {
  box-shadow: 0 14px 54px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1px;
  font-size: 23.3px;
}
.frame-wrapper39,
.link-parent1 {
  flex-direction: row;
}
.link-parent1 {
  flex: 1;
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(3, minmax(324px, 1fr));
}
.frame-wrapper39 {
  width: 1394.6px;
  display: flex;
  padding: 0 1px;
  box-sizing: border-box;
}
.link23,
.see-all-destinations2 {
  display: flex;
  justify-content: center;
}
.see-all-destinations2 {
  width: 176.6px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
.link23 {
  align-self: stretch;
  border-radius: 12px;
  background-color: #ffa51f;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 20px;
  text-align: center;
  font-size: 20px;
  color: #292b2e;
}
.background-inner4,
.background29,
.frame-parent78 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent78 {
  flex: 1;
  flex-direction: column;
  gap: 72px;
}
.background-inner4,
.background29 {
  box-sizing: border-box;
  flex-shrink: 0;
}
.background-inner4 {
  width: 1413.6px;
  flex-direction: row;
  padding: 0 1px;
}
.background29 {
  align-self: stretch;
  background-color: #f5f7f9;
  flex-direction: column;
  padding: 83.2px 60px 146px;
  gap: 46.8px;
  debug_commit: bf4bc93;
}
.image-8-layerstyle-icon6 {
  height: 41.6px;
  width: 41.1px;
  position: relative;
}
.pulselink-icon6 {
  align-self: stretch;
  height: 29px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.pulselink-wrapper4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 6.3px;
}
.holafly-logosvg6,
.image-8-layerstyle-parent4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.image-8-layerstyle-parent4 {
  flex: 1;
  align-items: flex-end;
  gap: 15px;
}
.holafly-logosvg6 {
  width: 220px;
  overflow: hidden;
  align-items: flex-start;
  padding: 5.4px 7px 0;
  box-sizing: border-box;
}
.link-facebooksvg2 {
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.link-facebooksvg-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.link-instagramsvg2,
.link-youtubesvg2 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.link-instagramsvg2 {
  height: 20px;
  width: 20px;
  min-height: 20px;
}
.link-youtubesvg2 {
  width: 16px;
  height: 14px;
}
.link-youtubesvg-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.link-linkedinsvg2 {
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.link-linkedinsvg-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.link-twittersvg2 {
  width: 22px;
  height: 17px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.link-twittersvg-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.frame-parent81 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.container-child,
.frame-wrapper40,
.holafly-logosvg-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper40 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 8px;
}
.container-child,
.holafly-logosvg-parent1 {
  flex-direction: column;
  flex-shrink: 0;
}
.holafly-logosvg-parent1 {
  align-self: stretch;
  gap: 183.2px;
  debug_commit: bf4bc93;
}
.container-child {
  margin-left: -728px;
  width: 262px;
  padding: 3.7px 0 0;
  box-sizing: border-box;
}
.top-destinations2 {
  margin-top: -46.599999999998545px;
  position: relative;
  line-height: 18.4px;
  font-weight: 500;
  display: inline-block;
  min-width: 120.5px;
}
.item-link69 {
  min-width: 45px;
}
.item-link69,
.item-link70,
.item-link71 {
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.item-link70 {
  color: inherit;
  text-decoration: none;
  min-width: 27px;
}
.item-link71 {
  font-size: 13.6px;
  min-width: 38px;
}
.item-link72 {
  min-width: 42.3px;
}
.item-link72,
.item-link73,
.item-link74 {
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.item-link73 {
  text-decoration: none;
  font-size: 13.9px;
  color: inherit;
  min-width: 35px;
}
.item-link74 {
  min-width: 43px;
}
.list7,
.nav6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list7 {
  align-self: stretch;
  gap: 16px;
  font-size: 14px;
}
.nav6 {
  height: 262.4px;
  flex: 1;
  padding: 46.4px 0 16px;
  box-sizing: border-box;
  gap: 28.2px;
  min-width: 155px;
}
.legal2 {
  margin-top: -46.599999999998545px;
  position: relative;
  line-height: 19px;
  font-weight: 500;
  display: inline-block;
  min-width: 39px;
}
.item-link75,
.item-link76,
.item-link77 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  color: inherit;
}
.item-link76,
.item-link77 {
  display: inline-block;
  min-width: 87.8px;
}
.item-link77 {
  min-width: 93.8px;
}
.item-link78 {
  display: inline-block;
  min-width: 86.2px;
}
.item-link78,
.item-link79 {
  position: relative;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}
.list8,
.nav7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list8 {
  align-self: stretch;
  gap: 16px;
  font-size: 14px;
}
.nav7 {
  height: 262.4px;
  flex: 1;
  padding: 46.4px 0 52px;
  box-sizing: border-box;
  gap: 27.6px;
  min-width: 155px;
  font-size: 15.9px;
}
.interest2 {
  margin-top: -46.599999999998545px;
  position: relative;
  line-height: 18.4px;
  font-weight: 500;
  display: inline-block;
  min-width: 56.1px;
}
.item-link80 {
  display: inline-block;
  min-width: 101.1px;
}
.item-link80,
.item-link81,
.item-link82,
.item-link83,
.item-link84 {
  position: relative;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}
.item-link83,
.item-link84 {
  display: inline-block;
  min-width: 33.8px;
}
.item-link84 {
  min-width: 28.3px;
}
.list9 {
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
}
.container-container,
.container2,
.list9,
.nav-container,
.nav8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav8 {
  height: 262.4px;
  flex-direction: column;
  padding: 46.4px 0 52px;
  box-sizing: border-box;
  gap: 28.2px;
}
.container-container,
.container2,
.nav-container {
  flex-direction: row;
  max-width: 100%;
}
.nav-container {
  width: 720px;
  gap: 3.6px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.container-container,
.container2 {
  box-sizing: border-box;
}
.container2 {
  width: 1440px;
  padding: 0 0 10px 720px;
  gap: 466px;
}
.container-container {
  padding: 0 48px;
}
.made-with2 {
  position: relative;
  line-height: 16.1px;
  display: inline-block;
  min-width: 69.7px;
}
.made-with-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.9px 0 0;
}
.lovesvg-icon2 {
  height: 14px;
  width: 15px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.by-people-who2 {
  align-self: stretch;
  position: relative;
  line-height: 16.1px;
}
.by-people-who-love-to-travel-frame {
  width: 195.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.9px 9px 0 0;
  box-sizing: border-box;
}
.pulselinkplus-20242 {
  width: 89.6px;
  position: relative;
  font-size: 13.5px;
  line-height: 16.1px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.horizontalborder3 {
  width: 1536px;
  border-top: 1px solid #dde1e8;
  flex-direction: row;
  align-items: flex-start;
  padding: 23px 5px 0.1px;
  row-gap: 20px;
  font-size: 14px;
  color: #000;
}
.background30,
.footer2,
.horizontalborder3 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.footer2 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 12px;
  gap: 56px;
}
.background30 {
  align-self: stretch;
  background-color: #f8f8fb;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.3px 0 40.2px;
  z-index: 1;
}
.a28413d6761d624ff11223c3c1cfd0-icon2 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
  overflow: hidden;
  object-fit: contain;
}
.button-open-intercom-messeng2 {
  width: 48px;
  height: 48px;
  position: absolute;
  margin: 0 !important;
  right: 35px;
  bottom: 100px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  background-color: #4b48e6;
  z-index: 2;
}
.background-parent2,
.background-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-family: Roboto;
}
.background-parent3 {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  font-size: 16px;
  color: #292b2e;
}
.background-parent2 {
  gap: 169.9px;
  font-size: 24px;
  color: #000;
}
@media screen and (max-width: 1825px) {
  .container2 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .link-parent1 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(324px, 562px));
  }
  .background29 {
    padding: 54px 30px 95px;
    box-sizing: border-box;
  }
  .container2 {
    gap: 233px;
    padding-left: 360px;
    box-sizing: border-box;
  }
  .container-container {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
  .background-parent2 {
    gap: 85px;
  }
}
@media screen and (max-width: 925px) {
  .link-parent1 {
    gap: 24px;
    grid-template-columns: minmax(324px, 1fr);
  }
  .frame-parent78 {
    gap: 36px;
  }
  .background29 {
    gap: 23px;
    padding-top: 35px;
    padding-bottom: 62px;
    box-sizing: border-box;
  }
  .nav-container {
    flex-wrap: wrap;
  }
  .container2 {
    gap: 116px;
    padding-left: 180px;
    box-sizing: border-box;
  }
  .footer2 {
    gap: 28px;
  }
  .background-parent2 {
    gap: 42px;
  }
}
@media screen and (max-width: 450px) {
  .heading-27,
  .heading-314 {
    font-size: 19px;
    line-height: 22px;
  }
  .heading-314 {
    line-height: 23px;
  }
  .eur8 {
    font-size: 17px;
    line-height: 22px;
  }
  .frame-parent79 {
    flex-wrap: wrap;
    gap: 16px;
  }
  .heading-3-new-york-parent {
    gap: 22px;
  }
  .heading-315 {
    font-size: 19px;
    line-height: 23px;
  }
  .eur9 {
    font-size: 17px;
    line-height: 22px;
  }
  .frame-parent80 {
    flex-wrap: wrap;
    gap: 17px;
  }
  .see-all-destinations2 {
    font-size: 16px;
    line-height: 19px;
  }
  .frame-parent78 {
    gap: 18px;
  }
  .holafly-logosvg-parent1 {
    gap: 92px;
  }
  .container2 {
    gap: 58px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .horizontalborder3 {
    flex-wrap: wrap;
  }
  .background30,
  .footer2 {
    padding-top: 26px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .background30 {
    padding-top: 20px;
    padding-bottom: 26px;
  }
}
