.link-use-cell-phone-turkey-7 {
  align-self: stretch;
  height: 224px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.it1,
.use-cell-phone1 {
  margin: 0;
}
.use-cell-phone-container2 {
  width: 100%;
}
.use-cell-phone-container1 {
  margin: 0;
  width: 364.5px;
  position: relative;
  font-size: inherit;
  line-height: 26.4px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.by-julio-osuna6 {
  position: relative;
  line-height: 19.2px;
  display: inline-block;
  min-width: 80.9px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.information-you-need,
.planning-on-traveling,
.your-cell-phone {
  display: block;
}
.planning-on-traveling-container {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 19.2px;
  color: #292b2e;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.by-julio-osuna-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 10.9px;
  gap: 12px;
  font-size: 12px;
  color: #000;
}
.link-read22 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: 16px;
  line-height: 18.4px;
  font-weight: 500;
  font-family: Roboto;
  color: #643560;
  text-align: center;
  display: inline-block;
  min-width: 78.6px;
}
.button35 {
  cursor: pointer;
  border: 1px solid #643560;
  padding: 5px 14px 5px 16px;
  background-color: #fff;
  width: 110.4px;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.button35:hover,
.button36:hover {
  background-color: #e6e6e6;
  border: 1px solid #8a5c87;
  box-sizing: border-box;
}
.use-cell-phone-in-turkey-how-parent {
  flex: 1;
  flex-direction: column;
  gap: 9.6px;
}
.frame-wrapper36,
.link-use-cell-phone-turkey-7-parent,
.use-cell-phone-in-turkey-how-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper36 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 18px 0 13px;
  box-sizing: border-box;
}
.link-use-cell-phone-turkey-7-parent {
  flex: 1;
  flex-direction: column;
  gap: 9.8px;
  min-width: 265px;
}
.link-best-pocket-wifi-uk-768 {
  align-self: stretch;
  height: 224px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.best-pocket-wifi1,
.much-does-it1 {
  margin: 0;
}
.best-pocket-wifi-container1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 26.4px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.by-julio-osuna7 {
  position: relative;
  line-height: 19.2px;
  display: inline-block;
  min-width: 80.9px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.if-you-are1,
.learn-everything-related,
.want-to-take {
  display: block;
}
.if-you-are-container1 {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 19.2px;
  color: #292b2e;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.by-julio-osuna-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 10.9px;
  gap: 12px;
  font-size: 12px;
  color: #000;
}
.link-read23 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: 16px;
  line-height: 18.4px;
  font-weight: 500;
  font-family: Roboto;
  color: #643560;
  text-align: center;
  display: inline-block;
  min-width: 78.6px;
}
.button36 {
  cursor: pointer;
  border: 1px solid #643560;
  padding: 5px 14px 5px 16px;
  background-color: #fff;
  width: 110.4px;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.best-pocket-wifi-for-the-uk-h-parent {
  flex: 1;
  flex-direction: column;
  gap: 9.6px;
}
.best-pocket-wifi-for-the-uk-h-parent,
.frame-wrapper37,
.link-best-pocket-wifi-uk-768-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper37 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 13px;
  box-sizing: border-box;
}
.link-best-pocket-wifi-uk-768-parent {
  flex: 1;
  flex-direction: column;
  gap: 9.8px;
  min-width: 265px;
}
.frame-parent77 {
  width: 833px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  max-width: 100%;
  text-align: left;
  font-size: 22px;
  color: #292b2e;
  font-family: Roboto;
}
@media screen and (max-width: 450px) {
  .best-pocket-wifi-container1,
  .use-cell-phone-container1 {
    font-size: 18px;
    line-height: 21px;
  }
}
