.link-mobile-internet-india-7 {
  align-self: stretch;
  height: 224px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.how-to-get2,
.what-is-the1 {
  margin: 0;
}
.how-to-get-container2 {
  width: 100%;
}
.how-to-get-container1 {
  margin: 0;
  width: 357.7px;
  position: relative;
  font-size: inherit;
  line-height: 26.4px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.by-carolina-s1 {
  position: relative;
  line-height: 19.2px;
  display: inline-block;
  min-width: 74.9px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.countries-in-the,
.india-one-of,
.learn-about-the {
  display: block;
}
.learn-about-the-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 19.2px;
  color: #292b2e;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.by-carolina-s-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 11px;
  gap: 12px;
  font-size: 12px;
  color: #000;
}
.link-read25 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: 16px;
  line-height: 18.4px;
  font-weight: 500;
  font-family: Roboto;
  color: #643560;
  text-align: center;
  display: inline-block;
  min-width: 78.6px;
}
.button38 {
  cursor: pointer;
  border: 1px solid #643560;
  padding: 5px 14px 5px 16px;
  background-color: #fff;
  width: 110.4px;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.button38:hover {
  background-color: #e6e6e6;
  border: 1px solid #8a5c87;
  box-sizing: border-box;
}
.how-to-get-mobile-internet-in-parent {
  flex: 1;
  flex-direction: column;
  gap: 9.6px;
}
.frame-wrapper38,
.how-to-get-mobile-internet-in-parent,
.link-mobile-internet-india-7-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper38 {
  width: 394px;
  flex-direction: row;
  padding: 0 13px;
  box-sizing: border-box;
}
.link-mobile-internet-india-7-parent {
  flex: 1;
  flex-direction: column;
  gap: 9.8px;
  min-width: 265px;
  text-align: left;
  font-size: 22px;
  color: #292b2e;
  font-family: Roboto;
}
@media screen and (max-width: 450px) {
  .how-to-get-container1 {
    font-size: 18px;
    line-height: 21px;
  }
}
