.esim-panama-300x365jpg-icon {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heading-276 {
  position: relative;
  line-height: 29px;
  font-weight: 500;
  display: inline-block;
  min-width: 84px;
}
.heading-2-panama-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 18px 11.7px;
  box-sizing: border-box;
  max-width: 42%;
}
.div243,
.div244 {
  position: relative;
  line-height: 36px;
  font-weight: 100;
  display: inline-block;
  min-width: 90.3px;
  white-space: nowrap;
}
.div244 {
  text-decoration: line-through;
  line-height: 18px;
  min-width: 45.7px;
}
.wrapper41 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 6px 3.5px 0;
  font-size: 15px;
  color: #c0c3c5;
}
.eur46 {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 23px;
}
.eur-wrapper34 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2.5px;
  font-size: 12px;
}
.frame-wrapper58,
.parent43 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-wrapper58 {
  align-items: flex-start;
  padding: 0 18px;
}
.image-icon59 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent97,
.item69 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent97 {
  align-self: stretch;
  height: 99.5px;
  gap: 14.5px;
  flex-shrink: 0;
  font-size: 30px;
}
.item69 {
  height: 479.2px;
  box-shadow: 0 14px 54px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  background-color: #fff;
  overflow: hidden;
  padding: 0 0 128.2px;
  box-sizing: border-box;
  gap: 22px;
  text-align: left;
  font-size: 22.7px;
  color: #292b2e;
  font-family: Roboto;
}
@media screen and (max-width: 925px) {
  .div243 {
    font-size: 24px;
    line-height: 29px;
  }
  .item69 {
    padding-bottom: 83px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .div243,
  .heading-276 {
    font-size: 18px;
    line-height: 23px;
  }
  .div243 {
    line-height: 22px;
  }
}
