.esim-laos-300x365jpg-icon {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heading-274 {
  position: relative;
  line-height: 29px;
  font-weight: 500;
  display: inline-block;
  min-width: 51px;
}
.heading-2-laos-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 18px 11.7px;
  box-sizing: border-box;
  max-width: 31%;
}
.div239,
.div240 {
  position: relative;
  line-height: 36px;
  font-weight: 100;
  display: inline-block;
  min-width: 96.2px;
  white-space: nowrap;
}
.div240 {
  text-decoration: line-through;
  line-height: 18px;
  min-width: 48.6px;
}
.wrapper39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 6px 3.5px 0;
  font-size: 15px;
  color: #c0c3c5;
}
.eur44 {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 23px;
}
.eur-wrapper32 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2.5px;
  font-size: 12px;
}
.frame-wrapper56,
.parent41 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-wrapper56 {
  align-items: flex-start;
  padding: 0 18px;
}
.image-icon57 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent95,
.item67 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent95 {
  align-self: stretch;
  height: 99.5px;
  gap: 14.5px;
  flex-shrink: 0;
  font-size: 30px;
}
.item67 {
  height: 479.2px;
  box-shadow: 0 14px 54px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  background-color: #fff;
  overflow: hidden;
  padding: 0 0 128.2px;
  box-sizing: border-box;
  gap: 22px;
  text-align: left;
  font-size: 23.4px;
  color: #292b2e;
  font-family: Roboto;
}
@media screen and (max-width: 925px) {
  .div239 {
    font-size: 24px;
    line-height: 29px;
  }
  .item67 {
    padding-bottom: 83px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-274 {
    font-size: 19px;
    line-height: 23px;
  }
  .div239 {
    font-size: 18px;
    line-height: 22px;
  }
}
