.international-esim-check,
.pulselinkplus-is-the {
  margin: 0;
}
.pulselinkplus-is-the-container1 {
  width: 100%;
}
.pulselinkplus-is-the-container {
  margin: 0;
  height: 80px;
  width: 528.9px;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pulselinkplus-is-the-most-reco-wrapper {
  width: 1099.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.quote-symbolsvg-icon {
  width: 24px;
  height: 17.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.dont-stress-about {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 26px;
}
.karen-christensen {
  line-height: 14px;
  font-weight: 500;
  display: inline-block;
  min-width: 117.6px;
}
.karen-christensen,
.verified-buyer,
.verifiedsvg-icon {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.verifiedsvg-icon {
  height: 15px;
  width: 16px;
  overflow: hidden;
  min-height: 15px;
}
.verified-buyer {
  line-height: 14px;
  font-weight: 500;
  display: inline-block;
  min-width: 91.3px;
}
.author-info1,
.verification {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.verification {
  gap: 7px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  color: #2065ce;
}
.author-info1 {
  gap: 12.8px;
}
.h2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 8px;
}
.previous {
  flex: 1;
  border-radius: 40px;
  background-color: #fff;
  border: 1px solid #e4e6ea;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 0.8px 13px;
  opacity: 0.5;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.h21 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 8px;
}
.navigation,
.next {
  flex: 1;
  flex-direction: row;
}
.next {
  border-radius: 40px;
  background-color: #fff;
  border: 1px solid #e4e6ea;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 0.8px 13px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.navigation {
  gap: 10px;
}
.author,
.navigation,
.quote,
.testimonial-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonial-navigation {
  width: 77.6px;
  flex-direction: row;
  padding: 0 1px;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
}
.author,
.quote {
  flex-direction: column;
}
.author {
  gap: 21.3px;
  font-size: 14px;
}
.quote {
  width: 615.4px;
  gap: 25.5px;
  min-width: 615.4000000000015px;
  max-width: 100%;
}
.peoplewebp-icon {
  height: 320px;
  width: 320px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-parent12,
.quote-parent {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.quote-parent {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 18px;
}
.frame-parent12 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 60px;
}
.based,
.div14 {
  position: relative;
  line-height: 48px;
  font-weight: 500;
  display: inline-block;
  min-width: 64px;
}
.based {
  line-height: 34px;
  min-width: 34.5px;
  z-index: 1;
}
.rating {
  width: 43.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 8px 3px 0;
  box-sizing: border-box;
  margin-left: -1px;
  font-size: 34px;
}
.star-trustpilotsvg-icon1 {
  width: 40px;
  height: 38px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.star-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 7.2px;
  margin-left: -1px;
}
.review-details,
.stars {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.review-details {
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 0 0;
}
.based-on-370001,
.customer-reviews-on1 {
  display: block;
}
.based-on-37000-container1 {
  margin: 0;
  position: relative;
  line-height: 26px;
}
.trustpilot1 {
  position: relative;
  text-decoration: underline;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 69.4px;
  z-index: 1;
}
.platform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
  margin-left: -0.2px;
  font-size: 16px;
}
.review-details-parent,
.trust-pilot-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.trust-pilot-info {
  flex: 1;
  align-items: flex-end;
  min-width: 159px;
  font-size: 18px;
}
.review-details-parent {
  width: 419px;
  align-items: flex-start;
  gap: 30px;
  max-width: 100%;
}
.m {
  position: relative;
  line-height: 48px;
  font-weight: 500;
  display: inline-block;
  min-width: 88px;
}
.travelers-who,
.trust-us-worldwide {
  margin: 0;
}
.travelers-who-trust-container {
  position: relative;
  line-height: 22px;
}
.m-parent,
.traveler-info {
  justify-content: flex-start;
}
.traveler-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 0 0;
  font-size: 16px;
}
.m-parent {
  flex-direction: row;
  gap: 23.7px;
}
.m-parent,
.review-content1,
.traveler-count {
  display: flex;
  align-items: flex-start;
}
.traveler-count {
  flex-direction: column;
  justify-content: flex-start;
  padding: 2px 0 0;
  font-size: 43.9px;
}
.review-content1 {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.review {
  width: 1073px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 42px;
  box-sizing: border-box;
  text-align: left;
  font-size: 44.6px;
}
.review,
.testimonial,
.testimonial-content {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.testimonial-content {
  width: 1126.4px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 64.4px;
}
.testimonial {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 45px 128px 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: center;
  font-size: 34px;
  color: #292b2e;
  font-family: Roboto;
}
@media screen and (max-width: 1350px) {
  .peoplewebp-icon,
  .quote {
    flex: 1;
  }
  .quote-parent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame-parent12 {
    gap: 30px;
  }
  .review {
    padding-left: 21px;
    padding-right: 21px;
    box-sizing: border-box;
  }
  .testimonial-content {
    gap: 32px;
  }
  .testimonial {
    padding-right: 22px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .pulselinkplus-is-the-container {
    font-size: 27px;
    line-height: 32px;
  }
  .quote {
    min-width: 100%;
  }
  .div14 {
    font-size: 36px;
    line-height: 38px;
  }
  .based {
    font-size: 27px;
    line-height: 27px;
  }
  .m {
    font-size: 35px;
    line-height: 38px;
  }
  .review-content1 {
    flex-wrap: wrap;
  }
  .testimonial-content {
    gap: 16px;
  }
  .testimonial {
    padding-bottom: 83px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .pulselinkplus-is-the-container {
    font-size: 20px;
    line-height: 24px;
  }
  .h2,
  .h21 {
    font-size: 19px;
    line-height: 22px;
  }
  .div14 {
    font-size: 27px;
    line-height: 29px;
  }
  .based {
    font-size: 20px;
    line-height: 20px;
  }
  .review-details-parent {
    flex-wrap: wrap;
  }
  .m {
    font-size: 26px;
    line-height: 29px;
  }
}
